# Node / Backend
node_modules/
dist/
!/backend/dist
!/backend/dist/**
admin_web/dist/
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Flutter / Mobile
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
android/.gradle/
android/app/build/
android/local.properties
ios/Pods/
ios/.symlinks/
*.apk
*.aab

# OS
.DS_Store
Thumbs.db
*.tmp
